<div class="section" id="skill">
        <div class="container">
          <div class="h4 text-center mb-4 title">Skills</div>
          <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">C#</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary csharp" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                      </div>
                      <span class="progress-value">62%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">TypeScript</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary type-script" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                      </div>
                      <span class="progress-value">56%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">ASP.NET Core</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary asp-net-core" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                      </div>
                      <span class="progress-value">45%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Angular2+</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary angular-2" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                      </div>
                      <span class="progress-value">62%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">Entity Framework Core</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary ef-core" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                      </div>
                      <span class="progress-value">38%</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="progress-container progress-primary">
                    <span class="progress-badge">HTML5,SCSS</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary html5-scss" data-aos="progress-full" data-aos-offset="10"
                        data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                      </div>
                      <span class="progress-value">53%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
