<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Jan 2016 - Sep 2016</p>
              <div class="h5">CyberBionic Systematics</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">C#/.NET Developer</div>
               <h6 class="category">certificate TP75500872</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Sep 1997 - Jun 2003</p>
              <div class="h5">Higher</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Berdyansk Institute of Entrepreneurship</div>
               <h6 class="category">Faculty of Economics  </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>