/* You can add global styles to this file, and also import other style files */
body {
    .fa {
        color: #3393c6;
    }

    .btn-primary, .btn-primary:disabled, .btn-primary:disabled:hover {
        background-color: #3393c6;
    }
    .progress-container.progress-primary .progress-bar {
        background-color: #3393c6;
    }

    .btn-primary:disabled{
        opacity: 0.5;
    }

    .card, .input-group-addon{
       background-color: #b0bebf;

       &.is-invalid {
        border-color: red;;
       }
    }

    .page-header-image {
        &.background-image {
            background-image: url('assets/images/Esher-Mauric-otnositelnost.jpg');
        }
    }
}
