/* You can add global styles to this file, and also import other style files */
body {
    .fa {
        color: #3393c6;
    }

    .btn-primary, .progress-container.progress-primary .progress-bar {
        background-color: #3393c6;
    }

    .btn-primary:hover{
        opacity: 0.8;
    }

    .card, .input-group-addon{
       background-color: #b0bebf;
    }
}
